html { 
	height: 100%; 
}

body { 
	height: 100%; 
	margin: 0; 
	padding: 0 
}

#map-row { 
	height: 700px; 
	padding-top: 100px;
	padding-left: 20px;
}

#map-canvas {
	/*z-index: -1;*/
}

h2 {
	text-align: center;
}

#address, #place {
	display: block;
}

.container {
    width: 500px;
    clear: both;
}
.container input.field {
    width: 80%;
    clear: both;
}