* {
	font-family: 'Roboto Slab', serif;
}

html { 
	height: 100%; 
}

body { 
	height: 100%; 
	margin: 7% 7%; 
	padding: 0; 
	
}
.navbar {
	text-align: left;
	margin-left: 5%;
}
#map-row { 
	height: 700px; 
	padding-top: 100px;
	padding-left: 20px;
}

#map-canvas {  }

h2 {
	text-align: center;
}

#address, #place {
	display: block;
}
#location {
	
	margin: 4%;
}
#place_info {
	margin-left: 5%;
	width: 45%;
}
#place_info table {
	text-align: center;
}
#webApp {
	border: 5px solid black;
}
#queryContainer {
	width: 45%;
}
.container input.field {
    width: 80%;
    clear: left;
}

thead, p#header {
	font-weight: bold;
}

tr:nth-child(even) {
	background: #ccc;
}

tr:nth-child(odd) {
	background: #fff;
}

td.table_item:hover {
	color: #0000CC;
}
p#subheader {
	text-decoration: underline;
}

td {
	width: 400px;
}

#infowindow {
	max-height: 140px;
    overflow-y: scroll;
}